
/* basic styles for black background and crosshair cursor */
html {
	perspective: 500px;
}

body {
	background: #000;
	margin: 0;
	overflow: hidden;
}

canvas {
	cursor: crosshair;
	display: block;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

#screensaver {
	display: none;
	position: relative;
	width: 100vw;
	height: 100vh;
}

#lampix-logo {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	width: 70%;
	transform: translate(-50%, -50%);
}

#lampix-simple-logo {
	position: absolute;
}

#css-logo {
	position:absolute;
	left:47%;
	top:45%;
	transform: scale(0);
}

.arrow {
	box-sizing:border-box;
	position:absolute;
	padding: 0px;
	margin: 0;
	width: 50px;
	height: 50px;
}

#t {
	transform: rotate(45deg);
	margin-top: -50px;
	border: solid #75bc34;
	border-width: 0 5px 5px 0;
}

#r {
	transform: rotate(135deg);
	margin-left: 50px;
	border: solid #eeb426;
	border-width: 0 5px 5px 0;
}

#b {
	transform: rotate(-135deg);
	margin-top: 50px;
	border: solid #3a9485;
	border-width: 0 5px 5px 0;
}

#l {
	transform: rotate(-45deg);
	margin-left: -50px;
	border: solid #e84730;
	border-width: 0 5px 5px 0;
}

@keyframes z {
	0% {
		transform: translateZ(0) scale(0);
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		transform: translateZ(500px) scale(.03);
		opacity: 1;
	}
}
